{% extends 'base.html' %} 
{% load static %}

{% block content %}
<section>
    <div class="d-flex justify-content-around px-10">
        <div class="row">
            <div class="media col-md-6">
                <img src="{% static 'media/inside-restaurant.jpg' %}" class="img" width="100%" alt="inside restaurant">
            </div>
            <div class="media col-md-6">
                <img src="{% static 'media/inside-restaurant.jpg' %}" class="img" width="100%" alt="inside restaurant">
            </div>  
        </div>  
    </div>
</section>
{% endblock %}


