{% block content %}
    <div class="container">
        <p>{{ request.user }}</p>
        <div class="row">
            <div class="col">
                <p>Booking Reference</p>
            </div>
            <div class="col">
                <p> {{userbooking.booking_ref}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Date</p>
            </div>
            <div class="col">
                <p>{{ userbooking.booking_date }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Start Time</p>
            </div>
            <div class="col">
                <p>{{ userbooking.start_time }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Finish Time</p>
            </div>
            <div class="col">
                <p>{{ userbooking.end_time }}</p>
            </div>
        </div>
        <div class="text-center">
            <form method="post" action="{% url 'booking_cancel' booking_id=userbooking.id %}">
                {% csrf_token %}
                <input type="submit" name="confirm" value="confirm" />
                <input type="button" name="cancel" value="cancel"/>
            </form>
        </div>
    </div>
{% endblock %}
