{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
        <div class="container py-5">
          <form action="">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm p-3 mb-2 bg-light bg-gradient text-dark text-center border">
                <label for="date">Date</label><br>
                <input type="date" id="date" name="date" value="{{selected_date}}"><br>
              </div>
              <div class="col-sm p-3 mb-2 bg-light bg-gradient text-dark text-center border">
                <label for="seats">Seats</label><br>
                <select id="seats" name="num_seats">
                  <option value="4">4</option>
                  <option value="6">6</option>
                  <option value="8">8</option>
                </select><br>
              </div>
              <div class="col-sm p-3 mb-2 bg-light bg-gradient text-dark text-center border">
                <input type="submit" name="Search">
              </div>
            </div>
          </form>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm p-3 mb-2 bg-dark bg-gradient text-white text-center border border-light">Table No</div>
            <div class="col-sm p-3 mb-2 bg-dark bg-gradient text-white text-center border border-light">Seats</div>
            <div class="col-sm p-3 mb-2 bg-dark bg-gradient text-white text-center border border-light">Start Time</div>
            <div class="col-sm p-3 mb-2 bg-dark bg-gradient text-white text-center border border-light">Book</div>
          </div>
          {% if available_tables %}
          {% for table in available_tables %}
          <div class="row">
            <div class="col-sm p-3 mb-2 bg-light bg-gradient text-dark text-center">
              {{table.table_no.table_no}}
            </div>
            <div class="col-sm p-3 mb-2 bg-light bg-gradient text-dark text-center">
              {{table.table_no.table_seats}}
            </div>
            <div class="col-sm p-3 mb-2 bg-light bg-gradient text-dark text-center">
              {{table.table_start}}
            </div>
            <div>
              <form method="post" action="{% url 'bookings_now' %}">
                {% csrf_token %}
                <input type="hidden" value="{{table.pk}}" name="table_no" />
                <button>Book</button>
              </form>
            </div>
          </div>
      {% endfor %}
      {% else %}
      <h3>No Availability Found</h3>
      {% endif %}
</section>      
{% endblock %}