{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <p>Details 1</p>
    <p>Details 1</p>
    <p>Details 1</p>
    <p>Details 1</p>
    <p>{{ ta }}</p>
    <p>{{ selected_date }}</p>
    <form method="post" action="{% url 'booking_confirmed' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ta.pk}}" name="table_no"/>
        <input type="submit" name="confirm" value="confirm" />
        <input type="button" name="cancel" value="cancel"/>
    </form>
</div>
{% endblock %}