{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Gallery Section -->
<section>
    <h2>Gallery 1</h2>
    <div id="gallery-top" class="container">
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="{ % static 'media/gallerydinner1.jpg' %}" alt="hotel">
            </figure>
        </div>
    </div>
    <h2>Gallery 2</h2>
    <div id="gallery-bottom" class="container">
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room1.jpeg" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room2.jpeg" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room3.jpeg" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room4.jpeg" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room5.jpeg" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room6.jpeg" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room7.jpeg" alt="hotel">
            </figure>
        </div>
        <div class="gallery-item">
            <figure class="image">
                <img src="assets/images/room8.jpeg" alt="hotel">
            </figure>
        </div>
    </div>
</section>
{% endblock %}