{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="pb-5">
    <div class="bd-example bd-example-tabs">
        <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-link" id="nav-Lunch-tab" data-toggle="tab" href="#nav-Lunch" role="tab" aria-controls="nav-Lunch" aria-selected="false">Lunch</a>
                <a class="nav-link" id="nav-Dinner-tab" data-toggle="tab" href="#nav-Dinner" role="tab" aria-controls="nav-Dinner" aria-selected="false">Dinner</a>
                <a class="nav-link active" id="nav-Drinks-tab" data-toggle="tab" href="#nav-Drinks" role="tab" aria-controls="nav-Drinks" aria-selected="true">Drinks</a>
            </div>
        </nav>
        <div class="tab-content text-align-center" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-Lunch" role="tabpanel" aria-labelledby="nav-Lunch-tab">
                <div class="lunch text-center">
                    <img src="{% static 'media/lunch.jpg' %}" width="50%">
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Dinner" role="tabpanel" aria-labelledby="nav-Dinner-tab">
                <div class="Dinner text-center">
                    <img src="{% static 'media/drinks.jpg' %}" width="50%">
                </div>
            </div>
            <div class="tab-pane fade active show" id="nav-Drinks" role="tabpanel" aria-labelledby="nav-Drinks-tab">
                <div class="Drinks text-center">
                    <img src="{% static 'media/drinks.jpg' %}" width="50%">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

