{% load static %}

{% block page_footer %}
  <header class="pb-5">
    <div class="container py-5">
      <h2 class="text-center">The Marine Breeze Restaurant</h2>
    </div>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between py-2">
        <img src="https://declan-project-1.s3.amazonaws.com/static/icons/water.svg" alt="water waves" width="32" height="32">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <a class="navbar-brand" href="{% url 'contact' %}">Contact</a>
        <a class="navbar-brand" href="{% url 'menu' %}">Menu</a>
        <a class="navbar-brand" href="{% url 'gallery' %}">Gallery</a>
        <a class="navbar-brand" href="{% url 'bookings' %}">Reservations</a>
        <a class="navbar-brand" href="{% url 'login' %}">Log In</a>
        <img src="https://declan-project-1.s3.amazonaws.com/static/icons/water.svg" alt="water waves" width="32" height="32">
      <nav>
    </div>
  </header>
{% endblock %}
